---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Blog | Hirotomo Blog">
  <h2>Blog</h2>
  <ul>
    <li><a href="/blog/omotenashi/">日本の『おもてなし』を英語で説明する方法</a></li>
  </ul>
</BaseLayout>
